*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: cover;
}

button {
  /* display: block; */
  border: none;
  color: inherit;
  /* font: inherit; */
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
}

body {
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  background-color: #14110e;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #c99e71;
}

.subtitle {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
}

.header {
  background-color: #1c1814;
  padding: 32px 0 33px;
}

.header-container {
  max-width: 1336px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-inner,
.menu,
.menu-list,
.header-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  flex-grow: 1;
}

.menu-list {
  gap: 48px;
}

.menu-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.menu-item:hover {
  /* font-weight: 700; */
  color: #c99e71;
}

.logo {
  width: 72px;
  height: 60px;
}

/* .action-search-img,
.action-cart-img {
  width: 30px;
  height: 30px;
} */

.header-action {
  margin-left: 48px;
  gap: 48px;
}

.header-action-search,
.header-action-cart {
  padding: 0;
}

.header-action-search:hover path,
.header-action-cart:hover path {
  stroke: #c99e71;
}

.hero {
  background-image: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 137px;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  padding: 147px 0 158px;
}

.hero-content-title {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 72px;
  line-height: 94px;
  max-width: 550px;
  margin-bottom: 32px;
}

.hero-content-text {
  font-size: 20px;
  line-height: 36px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  max-width: 511px;
  margin-bottom: 64px;
}

.hero-content-link {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  padding: 24px 40px;
  background-color: #c99e71;
  display: block;
  max-width: 205px;
  margin-bottom: 8px;
}

.hero-content-link:hover {
  color: #c99e71;
  background-color: #1c1814;
}

.hero-video-btn {
  align-self: flex-end;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  height: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.hero-video-btn:hover {
  color: #c99e71;
  /* fill: #c99e71; */
}

.hero-video-btn:hover circle {
  stroke: #c99e71;
}

.hero-video-btn:hover path {
  fill: #c99e71;
}

.process {
  margin-bottom: 140px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.process-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  counter-reset: my-counter;
}

.process-item {
  counter-increment: my-counter;
  position: relative;
}

.process-item-subtitle {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 24px;
  padding-left: 36px;
}

.process-item-subtitle::before {
  position: absolute;
  content: '0' counter(my-counter);
  left: 0;
  top: -5px;
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #c99e71;
}

.history {
  margin-bottom: 140px;
}

.history-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
}

.history-img:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}

.history-img:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.history-img:last-child {
  grid-column: 1/2;
  grid-row: 2/3;
}

.history-content {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: #1c1814;
  padding: 10px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history-content-title,
.menu-popular-title,
.testimonial-title,
.reservation-title,
.news-title {
  margin-bottom: 12px;
}

.history-content-subtitle,
.discover-content-subtitle,
.menu-popular-subtitle,
.testimonial-subtitle,
.reservation-subtitle,
.news-subtitle {
  margin-bottom: 36px;
}

.history-content-text,
.discover-content-text {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.popular {
  margin-bottom: 140px;
  text-align: center;
}

.popular-title {
  margin-bottom: 12px;
}

.popular-subtitle {
  margin-bottom: 56px;
}

.popular-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.popular-item {
  padding: 48px 48px 40px;
  background-color: #121315;
  text-align: center;
  text-transform: uppercase;
}

.popular-item-img {
  margin-bottom: 36px;
}

.popular-item-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-bottom: 20px;
}

.rating-list {
  display: flex;
  gap: 4px;
}

.rating-title {
  line-height: 19px;
  color: #c99e71;
}

.popular-title {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.popular-price {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.accent-color {
  color: #c99e71;
}

.accent-text {
  text-decoration: line-through;
}

.popular-btn {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 12px 0;
  background-color: #c99e71;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  gap: 22px;
  width: 170px;
  margin: 28px auto 0;
  transition: all 0.5s;
}

.popular-item:hover .popular-btn {
  display: flex;
}

.popular-item:hover .popular-item-rating {
  display: none;
}

.popular-item:hover .popular-price {
  display: none;
}

.popular-btn:hover {
  color: #c99e71;
  background-color: #1c1814;
}

.popular-btn:hover path {
  stroke: #c99e71;
}

.popular-link {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 20px 36px;
  background-color: #c99e71;
}

.popular-link:hover {
  color: #c99e71;
  background-color: #1c1814;
}

.discover {
  margin-bottom: 140px;
}

.discover-inner {
  background-color: #1c1814;
  padding: 72px 89px 84px 169px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
}

.discover-content-text {
  margin-bottom: 36px;
}

.discover-link {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 36px;
  text-transform: uppercase;
  background-color: #c99e71;
  transition: all 0.5s;
}

.discover-link:hover {
  color: #c99e71;
  background-color: #1c1814;
}

.menu-popular {
  margin-bottom: 140px;
  text-align: center;
}

.menu-popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 36px;
}

.menu-popular-item {
  padding: 0 24px;
  display: flex;
  align-items: center;
  width: 565px;
  height: 120px;
  border: 1px solid #32323d;
}

.menu-popular-item-img {
  width: 72px;
  height: 72px;
  margin-right: 20px;
}

.menu-popular-item-title {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.menu-popular-item-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #c99e71;
  margin-left: auto;
}

.testimonial {
  margin-bottom: 140px;
}

.testimonial-title,
.testimonial-subtitle {
  text-align: center;
}

.testimonial-inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 36px;
}

.testimonial-item {
  padding: 40px 40px 37px;
  background-color: #1c1814;
}

.testemonial-item-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 28px;
}

.testimonial-item-img {
  width: 129px;
  height: 149px;
}

.testimonial-item-text {
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.testimonial-item-info {
  display: flex;
  justify-content: space-between;
}

.testimonial-customer-name {
  font-size: 18px;
  line-height: 22px;
}

.testimonial-customer-position {
  font-size: 14px;
  line-height: 25px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
}

.testimonial-rating-list {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  padding-bottom: 6px;
}

.testimonial-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-count-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #c99e71;
  margin-bottom: 20px;
}

.testimonial-count-progress {
  appearance: none;
  width: 120px;
  height: 4px;
}

.testimonial-count-progress::-webkit-progress-bar {
  background-color: #2b2926;
}

.testimonial-count-progress::-webkit-progress-value {
  border-radius: 3px;
  background-color: #c99e71;
}

.testimonial-btn-inner {
  display: flex;
  gap: 16px;
}

.testimonial-btn-prev,
.testimonial-btn-next {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.testimonial-btn-prev:hover,
.testimonial-btn-next:hover {
  background-color: #c99e71;
}

.testimonial-btn-prev:hover path,
.testimonial-btn-next:hover path {
  stroke: #010102;
}

.reservation {
  margin-bottom: 140px;
}

.reservation-inner {
  display: flex;
  justify-content: space-between;
  min-height: 652px;
}

.reservation-image {
  width: 50%;
  background-image: url('../images/reservation-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.reservation-form {
  width: 50%;
  padding: 72px 48px;
  background-color: #1c1814;
}

.reservation-title,
.reservation-subtitle {
  text-align: center;
}

.reservation-form-input {
  display: block;
  width: 100%;
  height: 64px;
  padding: 16px 20px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  background-color: #14110e;
  border: none;
}

.reservation-form-input + .reservation-form-input {
  margin-top: 24px;
}

.resrvation-form-btn {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 36px;
  background-color: #c99e71;
  margin: 56px auto 0;
  display: block;
  width: 202px;
  transition: all 0.5s;
}

.resrvation-form-btn:hover {
  color: #c99e71;
  background-color: #1c1814;
}

.news {
  margin-bottom: 140px;
}

.news-title,
.news-subtitle {
  text-align: center;
}

.news-inner {
  display: flex;
  justify-content: space-between;
}

.news-item {
  background-color: #1c1814;
}

/* .news-img {
  margin-bottom: 20px;
} */
.news-item-description {
  padding: 20px 24px 24px;
}

.news-item-info {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
  display: flex;
}

.news-item-by {
  color: #c99e71;
  margin-right: 6px;
}

.news-item-date {
  margin-left: auto;
}

.mews-item-text {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.news-item-link {
  line-height: 19px;
  color: #c99e71;
  padding-right: 32px;
  background-image: url(../images/news-icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 24px;
}
